@charset "utf-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); 
:root {
    --yellow: #feb820;
    --colorBg: #151A25;
    --colorFont: #fff;
    /* --colorBg: #fff;
    --colorFont: #333641; */
    --active: #4A76A8;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.eot');
    src: 
      local('☺'), 
      url('../fonts/roboto.woff') format('woff'), 
      url('../fonts/roboto.ttf') format('truetype'), 
      url('../fonts/roboto.svg') format('svg');
      font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/roboto-black.eot');
    src: 
      local('Roboto-Black'), 
      url('../fonts/Roboto-Black.woff') format('woff'), 
      url('../fonts/Roboto-Black.ttf') format('truetype'), 
      url('../fonts/Roboto-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
         text-size-adjust: 100%;
}
body {
    background: url(../images/wood-l.png);
    background-color: var(--colorBg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    font-family: 'Roboto';
    color: var(--colorFont);
    height: 100vh;
}
.goodly-webinar__header {
    background-color: var(--colorBg);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 28px;
    height: 40px;
    -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
            align-items: flex-end;
    position: relative;
}
.goodly-webinar__header:after {
    height: 1px;
    background-color:  var(--colorFont);
    position: absolute;
    bottom: 0;
    left: 28px;
    right: 28px;
    content: "";
    position: absolute;
}

.goodly-webinar__header svg path {
    fill: var(--colorFont);
}
.goodly-webinar__header-center {
    height: 30px;
    margin-bottom: -5px;
    margin-top: 5px;
    width: 100%;
    margin-left: 20px;
    -ms-flex-item-align: self-end;
        align-self: self-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.goodly-webinar__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;    
    white-space: nowrap;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.speacker {
    font-size: 16px;
    white-space: nowrap;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.goodly-webinar__header-mobile {
    display: none;
}
.navbar {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--colorFont);
}

.goodly-webinar__header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.userControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.userControls_wrap {
    padding: 0 11px;
    border-right: 1px solid var(--colorFont);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icon {
    cursor: pointer;
}
.userControls_icon {
    position: relative;
    margin: 0 11px;
    cursor: pointer;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.userControls_icon:hover {
    color: var(--active);
}
.userControls_icon:hover.userControls_icon:before {
    content: '';
    position: absolute;
    top: -9px;
    left: -7px;
    right: -7px;
    border-radius: 18px;
    height: 36px;
    background-color: #5B88BD;
    opacity: .1;
    z-index: 1;
}
.userControls_icon:hover path {
fill: var(--active);
}
.userControls_fill:hover path:nth-child(1) {
fill: none;
}
.countMember {
    margin-left: 10px;
}
.userControls_icon.logout {
    margin-left: 20px;
    }
.new {
    text-align: center;
    position: absolute;
    right: -10px;
    top: -8px;
    width: 17px;
    height: 17px;
    color: #fff;
    background-color: #67B728;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
}
.message.new {
    background-color: var(--active);
}
/* .close{
    -webkit-transition:-webkit-transform 1s;
    transition:-webkit-transform 1s;
    -o-transition:transform 1s;
    transition:transform 1s;
    transition:transform 1s, -webkit-transform 1s;
    transition:transform 1s,-webkit-transform 1s;
    margin-right:15px
}
.close:hover{
    -webkit-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg)
} */
.volume {
    max-width: 200px;
    width: 5%;
    min-width: 100px;
    height: 2px;
    background-color: var(--colorFont);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
}
.volume:before {
    content: '';
    background-color: var(--active);
    height: 2px;
    width: 60%;
    position: absolute;
}
.volume_thumb {
    background-color: var(--active);
    cursor: pointer;
    position: absolute;
    left: 60%;
    width: 14px;
    height: 14px;
    top: -6px;
    border-radius: 50%;
}
.volume_thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px var(--colorFont);
            box-shadow: inset 0 0 0 1px var(--colorFont);
}

/* .icon_theme:active .theme,
.icon_theme:focus .theme,
.icon_theme:hover .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} */
.theme {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    height: 340px;
    width: 245px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 16px 20px rgba(51, 54, 65, 0.1);
            box-shadow: 0px 16px 20px rgba(51, 54, 65, 0.1);
    top: 38px;
    right: -30px;
    align-content: baseline;
}
.theme_light {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 168px;
}
.block {
    background: #FFFFFF;
    box-shadow: 0px 16px 20px rgba(51, 54, 65, 0.1);
    border-radius: 4px;
    width: 64px;
    height: 48px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.block:hover:before {
    position: absolute;
    content: '';
    border-radius: 3px;
    border: 1px solid #4A76A8;
    width: 100%;
    height: 100%;
    box-shadow: 2px 1px #333;
}
.theme_light .block1 {
    background: url('../img/small_bg1.png') no-repeat;
}
.theme_light .block2 {
    background: linear-gradient(11.52deg, #D9A7C7 2.08%, #FFFCDC 92.93%);
}
.theme_light .block3 {
    background: linear-gradient(11.52deg, #EFEFBB 2.08%, #D4D3DD 92.93%);
}
.theme_light .block4 {
    background: #EDEDED;
}
.theme_light .block5 {
    background: #DDE4ED;
}
.theme_light .block6 {
    background: #D9EAF3;
}
.theme_dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 168px;
}
.theme_dark .block1 {
    background: url('../img/small_bg1-dark.png') no-repeat;
}
.theme_dark .block2 {
    background: url('../img/small_bg2-dark.png') no-repeat;
}
.theme_dark .block3 {
    background: url('../img/small_bg3-dark.png') no-repeat;
}
.theme_dark .block4 {
    background: #222;
}
.theme_dark .block5 {
    background: #212A37;
}
.theme_dark .block6 {
    background: #36414F;
}
.theme_text {
    color: #333;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.theme-active:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/theme-active.png') no-repeat;
    background-position: center;
    border: 1px solid #4A76A8;
    border-radius: 3px;
}
.sun {
    position: relative;
    margin-top: 22px;
    background: url('../img/sun.png') no-repeat;
    background-position-x: 45px;
    width: 100%;
}
.sun:before {
    position: absolute;
    content: '';
    width: 23px;
    top: -16px;
    left: 111px;
    border: 1px solid #E7E7EA;
}
.moon {
    position: relative;
    margin-top: 22px;
    background: url('../img/moon.png') no-repeat;
    background-position-x: 45px;
    width: 100%;
}
.moon:before {
    position: absolute;
    content: '';
    width: 138px;
    top: -16px;
    left: 53px;
    border: 1px solid #E7E7EA;
}

.goodly-webinar__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 70px);
    position: relative;
    padding-left: 28px;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: calc(100vh - 55px);
    min-height: calc(100vh - 100px);
}
.bg {
    position: fixed;
    background: url('../img/background-dark.jpg') no-repeat;
    bottom: 0;
    left: 0;
    top:0;
    right:0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.goodly-webinar__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    height: calc(100vh - 85px);
    margin-bottom: 0;
    /* max-width: 100vw; */
    width: 100%;
}
.goodly-webinar__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; */
    /* width: 70%; */
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: auto;
}
.goodly-webinar-video-container {
    position: relative;
    /* padding-bottom: 56.25%; */
    padding-top: 30px;
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}
/* Возможно закоментировать прелоадеры? */
.goodly-webinar-video-container .overlay,
.goodly-webinar-video-container .preload {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    /* z-index: 9999; */
}
.goodly-webinar-video-container .preload:before{
    content: "";
    height: 25%;
    background-color: transparent; 
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
.goodly-webinar-video-container .preload:after{
    content: "";
    height: 25%;
    background-color: transparent;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
/* до этого места прелоадеры */
.goodly-webinar-video-container iframe,
.goodly-webinar-video-container #banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.b-overlay {
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner .play {
    display: none;
}
#banner .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    margin-top: 20%;
    text-align: center;
    width: 100%;
    color: #333641;
}
#banner .name small{
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
#timer {
    border: 1px solid #333641;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 64px;
    margin: 60px auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100px;
    line-height: 100px;
    padding:  10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#timer ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}

#timer .start-t {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    color: #333641;
}
#timer-clock {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.02em;

    color: #333641;
}
.time {
    display: inline-block;
    font-size: 14px;
    min-width: 145px;
    margin-left: 10px;
    width: auto;
}
.time-bold {
    font-weight: 700;
    font-size: 18px
}
.seconds {
    color: var(--active);
}

.music {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333641;
}
.music_track {
    padding: 0 10px 0 5px;
    border-bottom: 1px solid #333641;
    margin-left: 5px;
}
.music_track_name {
    font-weight: 700;
    color: var(--active);
}
.copyright {
    position: relative;
    bottom: -8px;
    color: var(--colorFont);
    -ms-flex-item-align: end;
        align-self: flex-end;
}
/* стили для части чата */
/* .goodly-webinar__right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left:0;
    position: relative;
    width: 29%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 13px;
    background-color: var(--colorBg);
    opacity: 0.85;
    width: 450px;
    min-width: 400px;
    right: 0;
    height: calc(100vh - 55px);
} */
.goodly-webinar__right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; */
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    /* -ms-flex-direction: column;
        flex-direction: column; */
    /* overflow-y: scroll; */
    left:0;
    right: 0;
    position: relative;
    width: 29%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 13px;
    background-color: var(--colorBg);
    opacity: 0.85;
    min-width: 400px;
    width: 450px;
    height: calc(100vh - 55px);
    padding-bottom: 75px;
}
.goodly-webinar__chat-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
    position: relative;
    width: 100%;
    height: 50px;
}
.goodly-webinar__chat-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--colorFont);
    white-space: nowrap;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.author_description {
    width: calc(100% - 65px);
}
.goodly-webinar__chat-author {
    margin: 0;
    margin-top: 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #6C9DD8;
}
.goodly-webinar__chat-rank {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
#messages, #files{
    /* max-height: 60vh; */
    overflow: auto;
    list-style: none;
}
#files {
    margin: 5px 0;
    max-height: 30vh;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
/* 
#files li {
    margin-bottom: 8px;
} */
.file {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 44px;
    padding: 0px 44px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 8px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
@-webkit-keyframes sheen {
    0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
    }
    100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
    }
}

@keyframes sheen {
0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
}
100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
}
}
.file:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 5em;
    display: block;
    position: absolute;
    top: 0;
    left: -6.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
        -ms-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.file:hover:before {
    -webkit-transform: skewX(-45deg) translateX(50em);
        -ms-transform: skewX(-45deg) translateX(50em);
            transform: skewX(-45deg) translateX(50em);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.file:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: 11px;
    right: 11px;
    border-radius: 50%;
    background: url('../img/Arrow.png') no-repeat;
    background-position: center;
}
.file_name {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
}
.file_name:hover {
    color: #fff;
    text-decoration: none;
}
.file_name-author {
    font-weight: normal;
    font-size: 11px;
}
.file_name:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 11px;
    background-position: center;
    width: 16px;
    height: 20px;
}
.file-default {
    background-color: #3CC1C1;
    border: 1px solid #3CC1C1;
    -webkit-box-shadow: 0px 1px 0px #31AAAA;
            box-shadow: 0px 1px 0px #31AAAA;
}
.file-default:after {
    background-color: #31AAAA;
}
.file-link {
    background-color: #2FC258;
    border: 1px solid #2FC258;
    -webkit-box-shadow: 0px 1px 0px #29A74C;
            box-shadow: 0px 1px 0px #29A74C;
}
.file-link:after {
    background-color: #29A74C;
}
.file-download {
    background-color: #D73030;
    border: 1px solid #D73030;
    -webkit-box-shadow: 0px 1px 0px #A92626;
            box-shadow: 0px 1px 0px #A92626;
}
.file-download:after {
    background-color: #A92626;
}
.file-gifts {
    background-color: #9C2FC2;
    border: 1px solid #9C2FC2;
    -webkit-box-shadow: 0px 1px 0px #822C9F;
            box-shadow: 0px 1px 0px #822C9F;
}
.file-gifts:after {
    background-color: #822C9F;
}
.file-call {
    background-color: #E27D20;
    border: 1px solid #E27D20;
    -webkit-box-shadow: 0px 1px 0px #B7671D;
            box-shadow: 0px 1px 0px #B7671D;
}
.file-call:after {
    background-color: #B7671D;
}
.file-default .file_name:before {
    background: url('../img/icon_file.svg') no-repeat;
}
.file-call .file_name:before {
    background: url('../img/icon_call.svg') no-repeat;
}
.file-download .file_name:before {
    background: url('../img/icon_download.svg') no-repeat;
}
.file-gifts .file_name:before {
    background: url('../img/icon_gifts.svg') no-repeat;
}
.file-link .file_name:before {
    background: url('../img/icon_link.svg') no-repeat;
}
    /* эффекты кнопок */
    /* @-webkit-keyframes sheen {
        0% {
          -webkit-transform: skewY(-45deg) translateX(0);
                  transform: skewY(-45deg) translateX(0);
        }
        100% {
          -webkit-transform: skewY(-45deg) translateX(12.5em);
                  transform: skewY(-45deg) translateX(12.5em);
        }
    }
    @keyframes sheen {
        0% {
        -webkit-transform: skewY(-45deg) translateX(0);
                transform: skewY(-45deg) translateX(0);
        }
        100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
                transform: skewY(-45deg) translateX(12.5em);
        }
    }
    .file {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    .file_name {
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
    }
    .file_name:before {
        content: "";
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        -webkit-transform: skewX(-45deg) translateX(0);
                transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    .file_name:hover {
        background-color: #2194E0;
        color: #fff;
        border-bottom: 4px solid #1977b5;
    }
    .file_name:hover:before {
        -webkit-transform: skewX(-45deg) translateX(13.5em);
                transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.5s ease-in-out;
    } */
.product {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 72px;
    padding: 0px 13px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #4A76A8;
    -webkit-box-shadow: 0px 1px 0px #4275AE;
            box-shadow: 0px 1px 0px #4275AE;
    background-color: #fff;
}
.product_img {
    width: 48px;
    height: 48px;
}
.product_description {
    width: 100%;
    color: #333;
}
.product_description_title {
    font-weight: bold;
    display: block;
}
.product_description_content {
    font-size: 12px;
    font-weight: normal;
    color: #666;
}
.btn-pay {
    /* background: url('../img/Arrow.png') no-repeat;
    background-position: right center; */
    background-color: #4A76A8;
    position: relative;
    height: 26px;
    min-width: 100px;
    padding: 0 25px 0 15px;
    border: 0;
    font-size: 11px;
    border-radius: 14px;
}
.btn-pay:after {
    content: '';
    position: absolute;
    right: 11px;
    top: 7px;
    width: 11px;
    height: 10px;
    background: url('../img/Arrow.png') no-repeat;
    background-position: center;
}
#chat-wrap {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
/* оформление ссылок в чате */
#chat-wrap a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    padding: 2px 7px;
    border-radius: 4px;
    background: #67B728;
    word-break: break-all;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    /* min-height: calc(70vh - 200px);
    height: auto;
    max-height: calc(70vh - 190px); */
}
#messages li {
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #E7E7EA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #333641;
    margin-bottom: 5px;
    position: relative;
}
li .username {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #333641;
    margin-bottom: 10px;
}
#members li .username {
    margin: 0;
}
li .username.author {
    color: var(--active);
}
li .username.moderator {
    color: #DB1F35;
}
.rank {
    font-size: 10px;
    line-height: 12px;
    color: #333641;
    margin-left: 15px;
} 
.flag {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-left: 15px;
}
.flag_ru {
    background: url(../img/RU.png);
}
.flag_gb {
    background: url(../img/GB.png)
}
.ava {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 15px;
}
.message_content {
    font-size: 13px;
    line-height: 18px;
    color: #333641;
}

#chat-form {
    position: absolute;
    bottom: 5px;
    left: 13px;
    right: 13px;
}
#chat-form.disabled:before{
    background-color: #DDE0E6;
    position: absolute;
    right: 0;
    left:0;
    content: "Чат заблокирован модератором";
    font-size: 13px;
    line-height: 70px;
    color: #333641;
    border: 2px solid #333641;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    background-image: url('../img/block_chat.png');
    background-size: 27px 27px;
    background-position: 30px 22px;
    background-repeat: no-repeat;
    padding-left: 75px;
    height: 70px;
    z-index: 1;
    overflow: hidden;
}
#chat-form #chat-message {
    /* position: fixed;
    bottom: 5px;
    width: 26%;
    right: auto; */
    height: 70px;
    resize: none;
    color: #333641;
    z-index:1;
}
/* #chat-form.disabled:after {
    user-select: none;
    background: url('../img/block_chat.png') no-repeat;
    background-position: center;
    background-size: cover;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;

} */
.goodly-webinar__chat-input {
    background: #FFFFFF;
    border: 2px solid #DDE0E6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
}
.chat-form_send {
    display: inline-block;
    position: absolute;
    width: 33px;
    height: 32px;
    bottom: 1px;
    right: 2%;
}



/*.goodly-webinar__footer {
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 20vh;
    box-sizing: border-box;
    padding-top: 4vh;
}*/



.goodly-webinar__chat-members {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #4A76A8;
}

    @media screen and (max-width: 900px) {
        .goodly-webinar__right-column {
            display: none;
            position: absolute;
            top: 15px;
            right: 0;
            left: auto;
            bottom: 0;
        }
    }

    @media screen and (max-width:767px) {
        .bg {
            display:none;
        }
        .goodly-webinar__header {
            height: auto;
        }
        .goodly-webinar__header:after {
            left: 0;
            right: 0;
        }
        /* 27.12 */
        .goodly-webinar__header-left, 
        .goodly-webinar__header-right {
            display: none
        }
        .goodly-webinar__header-mobile {
            display: block;
            width: 100%;
        }
        .goodly-webinar__header-mobile .navbar-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        /* 27.12 */
        /* Отключить из видимости все иконки кроме пользователей */
        .userControls_wrap:not(:nth-child(3)), .logout{
            display: none;
        }
        .userControls_wrap:nth-child(3) {
            -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                    order: 3;
            border-right: 0;
        }
        .goodly-webinar__header-center {
            display:none;
        }
        .goodly-webinar__main {
            padding-top:0;
            max-height: 100%;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            position: relative;
            top: 0;
        }
        .goodly-webinar-video-container {
            z-index: 2;
            height: 40vh;
        }
        #banner .name {
            display: none;
        }
        #banner .music {
            display: none;
        }
        #timer {
            display: none;
        }
        #banner .play {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        #banner .play img {
            width: 80px;
            height: 80px;
        }
        #chat-form #chat-message {
            width: 100%;
            left: 0;
            right:0;
            bottom: 0;
            opacity: .8;
            z-index: 1;
            height: 48px;
        }
        #chat-form #chat-message:active, #chat-form #chat-message:focus {
            opacity: 1;
        }
        .goodly-webinar__right-column {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            height: calc(60vh - 70px);
            padding-bottom: 50px;
        }
        .goodly-webinar__chat-header {
            top: -5px;
            height: 40px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 100%;
            overflow: hidden;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        }
        .goodly-webinar__chat-header img {
            width: 24px;
            height: 24px;
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
        .author_description {
            height: auto;
            width: auto;
        }
        .goodly-webinar__chat-author {
            display: inline;
            margin-right: 10px;
        }
        .goodly-webinar__chat-rank {
            line-height: 25px;
        }
        .goodly-webinar__right-column #chat-wrap { 
            width: 100%; 
            padding:0;
            /* height: calc(60vh - 110px); */
        }
        .copyright { display: none; }
        .navbar-toggle {
            display: block;
        }
        /* стили которые были добавлены */
        .goodly-webinar__main-container{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            padding: 0;
            height: auto;
            margin: 0;
        }
        .goodly-webinar__title {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin: 0 0 20px 0;
            height: auto !important;
        }
        .goodly-webinar__main{padding-left: 0; overflow: auto;}
        .goodly-webinar__chat-members {display: none;}
        .goodly-webinar__right-column {width: 100%; min-width: 300px;}
        #chat-wrap {
            padding: 20px;
            max-height: calc(60vh - 155px);
        }
        .file {
            opacity: 1;
        }
        .volume-ic {display: none;}
        #banner .name {font-size: 16px; }
        #banner .name small {font-size: 14px;}
        #timer {margin: 10px auto;}
        #timer-clock{font-size: 40px;}
        #timer{height: 85px;}
        #messages li {
            word-wrap: break-word;
        }
        .nav.navbar-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        /* проверить элемент .navbar-collapse.collapse при нажатии от 768 до 900 происходят не корректные прыжки у лого */
        .goodly-webinar__header-mobile .navbar-toggle {
            float: left;
        }
        .goodly-webinar__header-mobile .navbar-collapse {
            border: 0;
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
        .goodly-webinar__header-mobile .navbar-nav span {
            display: block;
        }
    }
    /* класс pull-right можно удалить */

.hide {
    display: none;
}
#members {
    position: absolute;
    display: none;
    background-color: #fff;
    list-style: none;
    z-index: 1;
    padding: 0;
    width: 100%;
    height: 100%;
}
.member {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 43px;
    text-align: center;
}
.member .username {
    flex-grow:1;
}
.member .rank {
    flex-grow: 2;
}
.member .icon {
    margin-right: 10px;
}
.member img:first-child {
    margin-left: 10px;
}
.fa-close:after {
    position: absolute;
    content: 'Дополнительные материалы';
    color: #fff;
    right: 0;
    top:10px;
    width: 270px;
    cursor: default;
    font-family: 'Roboto';
    font-size: 16px;
}
.fa-close:before {
    position: relative;
    top:7px;
}