.wrapper {
  background-color: #fff;
}
.header_title {
  width: 100%;
}
.block_add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 2%;
  margin: 0 4%;
  width: 100%;
  margin-bottom: 1%;
  border-bottom: 3px solid #F7F7F7;
}
.block_add input {
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 34px;
  padding-left: 40px;
  margin: 10px 0 20px;
}
.neccessary:after {
  content: '*';
  position: relative;
  left: 2px;
  top: -4px;
  color: red;
}
#webinar_name {
  width: 100%;
  background: url('../img/icon_create-name.svg') no-repeat;
  background-position: 10px center;
}
.block_add-half {
  width: 47%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
#webinar_author {  
  width: 100%;
  background: url('../img/icon_create-user.svg') no-repeat;
  background-position: 10px center;
}
#webinar_id {  
  width: 100%;
  background: url('../img/icon_create-id.svg') no-repeat;
  background-position: 10px center;
}
#webinar_link {  
  width: 100%;
  background: url('../img/icon_create-link.svg') no-repeat;
  background-position: 10px center;
}
#webinar_calendar {  
  width: 100%;
  background: url('../img/icon_create-calendar.svg') no-repeat;
  background-position: 10px center;
  user-select: none;
}
#webinar_time-hours {  
  width: 48%;
  background: url('../img/icon_create-time.svg') no-repeat;
  background-position: 10px center;
}
#webinar_time-minuts {  
  width: 48%;
  float: right;
}
#webinar_time-start {  
  width: 48%;  
  background: url('../img/icon_create-calendar.svg') no-repeat;
  background-position: 10px center;
  user-select: none;
}
#webinar_time-finish {  
  width: 48%;
  background: url('../img/icon_create-calendar.svg') no-repeat;
  background-position: 10px center;
  float: right;
  user-select: none;
}


.scenario_input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.scenario {
  width: 40%;
  height: 110px;
}
.scenario_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  min-width:300px;
}
.scenario_input-fake {
  width: calc(100% - 130px);
  height: 34px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.scenario_btn {
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 34px;
  background-color: #4A76A8;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-scenario {
  height: 34px;
  width: 150px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}
.btn-scenario:hover {
  background-color: #428bca;
  color: #fff;
}
.scenario_added {
  display: none;
  height: 34px;
  flex-wrap: wrap;
}
.scenario_added-check {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
}
.scenario_added-check i {
  margin: 0 10px;
  color: #fff;
  background-color: #6CC722;
  padding: 4px;
  border-radius: 50%;
}


.block_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 4%;
}
.button {
  width: 175px;
  height: 42px;
  border-radius: 3px; 
  margin-right: 10px;
  padding-right: 30px;
}
.btn-save {
  background-image: url('../img/icon_autowebinar-save.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
}
.btn-abort {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  background-image: url('../img/icon_create-abort.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
}
.input_separate {
  display: block;
  position: relative;
  left: .5%;
  width: 2%;
  margin: 15px auto;
}