@font-face {
    font-family: MyriadPro; 
    font-weight: 300;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-weight: 400;
    src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-weight: normal;
    src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-style: italic;
    src: url(../fonts/MyriadPro-Italic.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-weight: 600;
    src: url(../fonts/MyriadPro-Semibold.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/MyriadPro-SemiboldIt.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-weight: bold;
    src: url(../fonts/MyriadPro-Bold.otf);
}
@font-face {
    font-family: MyriadPro; 
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/MyriadPro-BoldIt.otf);
}
body{
    font-family:  MyriadPro;
    overflow-x: hidden;
    font-weight: normal;
}
.clickable {
    cursor: pointer;
}
.navbar-fixed-top{
/*    background-image: url(../images/mask.png);
    background-color: #2e2f33;*/
/*    border-bottom: none;
    position: relative;
    margin-bottom: 0;*/
}
.container-fluid>.navbar-header {
    /*width: 284px;*/
    /*border-right: 1px solid #000000;*/
}
.navbar>.container-fluid .navbar-brand {
    color: #ffffff;
}
.navbar-brand {
    padding: 0;
}
.container>.navbar-collapse{
    padding: 0;
    margin: 0;
}
.navbar-fixed-top .navbar-collapse{
    max-height: 100%;
    color: #fff;
}
.navbar-header{
    border-right: 1px solid #000;
}
#addplace .navbar.f-navfifty {
    top: 105px;
    position: fixed;
}
#addplace .navbar.f-nav {
    top: 0;
    position: fixed;
}
nav .container-fluid{
    border-bottom: 1px solid #000;
}
/*.topmenu .navbar-nav li a {
    color: #ffffff;
}*/

/*.navbar-inverse .navbar-nav>li>a:hover{
    background: #454649;
    color:#ffffff;
}*/
/*.collapse .panel-group,*/
.glyphicon-userr:before,
.glyphicon-question-sign:before{
    content:none;
}
/* header menu end*/

#usermenu{
    width: 100px;
}
.bigmenu .navbar .container{
    padding:0;
}
.bigmenu .navbar .container .navbar-nav{
    float: none;
}
.bigmenu .navbar .container .navbar-nav li {
    float: none;
    /*width: 100px;*/
}

.topmenu .navbar-inverse .navbar-nav>.active.open>a,
.topmenu .navbar-inverse .navbar-nav>.active>a,
.topmenu .navbar-inverse .navbar-nav>.open>a{
    border-left:none;
}
.bigmenu .navbar-fixed-top{
    background-image:none;
}
.bigmenu .navbar .container .navbar-nav li a i.fa{
    left: 30px;
}
.bigmenu .navbar .container .navbar-nav li a i.fa{
    color: #d3d3d3;
    width: 40px;
    height: 40px;
    background-position: center center;
    margin: auto;
}
.bigmenu .navbar .container .navbar-nav li.mail .iclass{
    display: none;
}
.bigmenu .navbar .container .navbar-nav li:hover a i.fa{
    color: white;
}
.bigmenu .navbar .container .navbar-nav li.active:hover a i.fa,
.bigmenu .navbar .container .navbar-nav li.active a i{
    color: #5bc0de;
}

.bigmenu .navbar .container .navbar-nav .invest.active a,
.bigmenu .navbar .container .navbar-nav .invest.active a i.fa{
    color: #5bc0de;
}

/*.bigmenu .nav{
    background: -moz-linear-gradient(-45deg, #393a3d 0%, #262729 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#393a3d), color-stop(100%,#262729));
    background: -webkit-linear-gradient(-45deg, #393a3d 0%,#262729 100%);
    background: -o-linear-gradient(-45deg, #393a3d 0%,#262729 100%);
    background: -ms-linear-gradient(-45deg, #393a3d 0%,#262729 100%);
    background: linear-gradient(135deg, #393a3d 0%,#262729 100%);
    background-image: url(../images/mask.png);
}*/
/*leftmenu main level end*/

/*leftmenu second level*/
.bigmenu .navbar-default .navbar-nav>.open>a,
.bigmenu .navbar-nav.open>a,
.bigmenu .navbar-default .navbar-nav>.open>a:focus{
    background: #454649;
}
.bigmenu .navbar-default .navbar-nav .active .dropdown-menu{
    display:block;
}
.bigmenu .dropdown-menu{
    position: fixed;
    left: 100px;
    top: 160px;
    width: 244px;
    background-color: #292a2c;
    padding: 0;
}
.bigmenu .dropdown-menu a{
    width: 244px;
    height: auto;
    padding: 10px 0;
    font-weight: bold;
    background: #323337; /* Old browsers */
    background: -moz-linear-gradient(top, #323337 0%, #2e2f33 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323337), color-stop(100%,#2e2f33)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #323337 0%,#2e2f33 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #323337 0%,#2e2f33 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #323337 0%,#2e2f33 100%); /* IE10+ */
    background: linear-gradient(to bottom, #323337 0%,#2e2f33 100%); /* W3C */
}
.bigmenu .dropdown-menu a:hover{
    background: #3d3f44; /* Old browsers */
    background: -moz-linear-gradient(top, #3d3f44 0%, #37393e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3f44), color-stop(100%,#37393e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3d3f44 0%,#37393e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3d3f44 0%,#37393e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3d3f44 0%,#37393e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3d3f44 0%,#37393e 100%); /* W3C */
    color: #ffffff;
}
.bigmenu .dropdown-menu .active a{
    color: #63d2ff;
    background: #0b0b0c;
    background: -moz-linear-gradient(top, #0b0b0c 0%, #222427 41%, #2c2e32 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b0b0c), color-stop(41%,#222427), color-stop(100%,#2c2e32));
    background: -webkit-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -o-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -ms-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: linear-gradient(to bottom, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
}
.bigmenu .dropdown-menu .active a:hover{
    color:#ffffff;
}
.bigmenu .navbar-default .navbar-nav .active.open .dropdown-menu  a i{
    display:none;
}
#sidebarmenu.f-nav{
    top:0;
}
#sidebarmenu.f-navfifty{
    top:105px;
}
#sidebarmenu.f-navsto{
    top:55px;
}
.leftmenu .navbar-fixed-top,
.leftmenu .navbar-fixed-bottom,
.headerleftmenu .navbar-fixed-top,
.headerleftmenu .navbar-fixed-bottom,
.headerrightmenu .navbar-fixed-top,
.headerrightmenu .navbar-fixed-bottom{
    z-index:0;
}
/*leftmenu second level end*/

/*leftmenu addbutton*/
/*.leftmenu */
.addplace{
    display: table-cell;
    vertical-align: top;
    width: 245px;
    z-index: -1;
}
.row-bad {
    margin-left: 0;
    margin-right: 0;
}
.leftmmenu .addplace .navbar-fixed-top{
    min-width: 245px !important;
    width: 245px;
}
.container{
    width: 100%;
    display: inline-block;
    padding: 0;
}
.addplace .navbar-fixed-top{
    min-width: 245px!important;
    background: none;
}
.addplace .addbutton {
    text-align: center;
}
.addplace .addbutton div.btn-group.open > button, 
.addplace .addbutton div.btn-group > button:hover, 
.addplace .addbutton.open a.btn-link, 
.addplace .addbutton a.btn-link,
.addplace .addbutton a.btn-link:hover,
.addplace .addbutton div.btn-group > button{
    text-decoration: none;
    background: #5cb8fa; /* Old browsers */
    background: -moz-linear-gradient(top, #5cb8fa 0%, #1a6cbd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb8fa), color-stop(100%,#1a6cbd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5cb8fa 0%,#1a6cbd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5cb8fa 0%,#1a6cbd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5cb8fa 0%,#1a6cbd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5cb8fa 0%,#1a6cbd 100%); /* W3C */
    color:#ffffff;
    border:1px solid #000000;
    border-radius:5px;
    margin-top: 25px;
}
.addplace .addbutton div.btn-group.open > button,
.addplace .addbutton div.btn-group > button:hover,
.addplace .addbutton.open a.btn-link,
.addplace .addbutton a.btn-link:hover,
.addplace .addbutton a:hover{
    background: #0b56a1;
    background: -moz-linear-gradient(top, #0b56a1 0%, #4ca3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b56a1), color-stop(100%,#4ca3e3));
    background: -webkit-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: -o-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: -ms-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: linear-gradient(to bottom, #0b56a1 0%,#4ca3e3 100%);
    color:#ffffff;
}
.addplace .addbutton.open a.btn-link{
    border-bottom-left-radius: 0;
    border-bottom: none;
}
.addplace .btn-group.open .dropdown-toggle{
    border-bottom-right-radius: 0;
}
.addplace .addbutton span.caret{
    border:none;
    margin-left: -10px;
    line-height: 2px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: inherit;
}
#sidebarmenu {
    /* width: 100%; */
    float: none;
    display: inline-block;
    color: #fff;
}
.addplace .addbutton {
    width: 100%;
    height: 90px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 45px;
    border-bottom: 1px solid #000000;
}
.addplace .btn-group.open >.btn-group{
    border-bottom-right-radius: 0;
}
.addplace .btn-group:not(.open) > .dropdown-menu {
    opacity: 0;
    height: 0px !important;
    z-index:-1000;
    display: block;
}
.addplace .btn-group.open > .dropdown-menu {
    opacity: 1;
    z-index: 1000;
    display: block;
    border: 1px solid #000;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -1px;
    padding: 0;
    border-top: none;
}
.addplace .btn-group > .dropdown-menu .divider {
    opacity: 0;
    z-index:-1000;
}
.addplace .btn-group.open > .dropdown-menu .divider {
    opacity: 1;
    z-index: 1000;
    transition: all 2s;
}
.addplace .btn-group {
    margin: 0;
}
.addplace .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 80%;
}
.addplace .btn-group>.btn.dropdown-toggle {
    width: 40px;
}
.addplace .btn-group>.dropdown-menu {
    margin-left: -179px;
    width: 219px;
}
.addplace .btn-group>.dropdown-menu > li > a:hover {
    background: #d3d3d3;
    /*font-weight: bold;*/
}
/*
#sidebarmenu > li.only_text {
    padding: 12px 10px;
    display: block;
}*/

/*li.dropdown.open a.dropdown-toggle{
    color:  #63d2ff;
}*/
.nav .open>a{
    background: #4B4E53;
}
.addplace .btn-group>.dropdown-menu > li > a {
    background-color: #eee;
    border-color: #428bca;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.addplace .dropdown-menu>li:last-of-type a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.addplace .btn-group>.dropdown-menu > li > a:hover{
    background: #0b56a1;
    background: -moz-linear-gradient(top, #0b56a1 0%, #4ca3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b56a1), color-stop(100%,#4ca3e3));
    background: -webkit-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: -o-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: -ms-linear-gradient(top, #0b56a1 0%,#4ca3e3 100%);
    background: linear-gradient(to bottom, #0b56a1 0%,#4ca3e3 100%);
    color: #eee;
}
/*#sidebarmenu > li > a:hover {
    color: #D7D7D7;
    background:#4B4E53 ;
}*/
.dropdown-submenu > .dropdown-menu {
    background-color: #1B1C1F;
}
#sidebarmenu > li > a.new:before,
#sidebarmenu > li > a.new_module:before {
    background-image: url(../images/newribbon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    top: 0px;
    right: -1px;
    content: "";
    height: 44px;
    width: 44px;
}
/*leftmenu addbutton end*/

/*leftmenu search*/
.addplace .search{
    padding-left:3px;
}
.search input{
    display: block;
    margin: 0px auto;
    margin-top: 15px;
    background-color: #c0c0c0;
    border-radius: 5px;
    border: 1px solid #000000;
    line-height: 30px;
    padding: 0 23px;
    /*background-image: url(../images/search.png);*/
    background-repeat: no-repeat;
    background-position: 5px 8px;
}
.search input::-webkit-input-placeholder{
    color: #606060;
}
.search input:-moz-placeholder{
    color: #606060;
}
.search input::-moz-placeholder{
    color: #606060;
}
.search input:-ms-input-placeholder  {
    color: #606060;
}
.search input:focus{
    background-color: #ffffff;
    outline: none;
}

/*leftmenu search end*/

/*content profile*/
.uprof .avatarblock .avatar{
    display: block;
    margin: 0px auto;
    border-radius: 100px;
    border: 5px solid #2e2f31;
}
.uprof .avatarblock .avatar img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: none;

}
.uprof .textavatar .form-group{
    display: block;
    margin: 0px auto;
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
}
.uprof .textavatar .form-group .checkbox{
    margin: 10px auto;
    display: block;
    width: 85px;
}
.uprof .textavatar .form-group .checkbox,
.uprof .textavatar .control-label{
    color:#737373;;
}
.uprof .textavatar input.form-control[type="file"]{
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 40px 150px;
    margin-left: -38px;
    margin-top: -42px;
}
.uprof .textavatar .control-label{
    display:none;
}
.savephoto:hover,
.uprof  .changebut input:hover{
    cursor:pointer;
}
.uprof .changebut{
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 40px;
    border: 1px solid #000000;
    background: #262729; /* Old browsers */
    background: -moz-linear-gradient(top, #262729 0%, #1c1d1e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262729), color-stop(100%,#1c1d1e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #262729 0%,#1c1d1e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #262729 0%,#1c1d1e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #262729 0%,#1c1d1e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #262729 0%,#1c1d1e 100%); /* W3C */
    margin:0px auto;
    margin-bottom: 25px;
    border-radius:5px;
}
.uprof .changetext{
    color:#929293;
    padding:10px;
}
.uprof .textavatar input.form-control{
    color: #737373;
}

.uprof .btn-success{
    background: #1bc874; /* Old browsers */
    background: -moz-linear-gradient(top, #1bc874 0%, #00a354 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc874), color-stop(100%,#00a354)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1bc874 0%,#00a354 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1bc874 0%,#00a354 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1bc874 0%,#00a354 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1bc874 0%,#00a354 100%); /* W3C */
    border-color: #006f39;
}
.uprof .btn-success:hover{
    background: #00a354; /* Old browsers */
    background: -moz-linear-gradient(top, #00a354 0%, #1bc874 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a354), color-stop(100%,#1bc874)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00a354 0%,#1bc874 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00a354 0%,#1bc874 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00a354 0%,#1bc874 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00a354 0%,#1bc874 100%); /* W3C */
}
.rows{
    display:table-cell;
    width: 50%;
    vertical-align: top;
    padding: 0 2%;
}

.uprof .secondcol .profilelink{
    margin-left: 3px;
    width: 170px;
    background: #282a2c;
    background: -moz-linear-gradient(top, #282a2c 0%, #1c1d1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282a2c), color-stop(100%,#1c1d1f));
    background: -webkit-linear-gradient(top, #282a2c 0%,#1c1d1f 100%);
    background: -o-linear-gradient(top, #282a2c 0%,#1c1d1f 100%);
    background: -ms-linear-gradient(top, #282a2c 0%,#1c1d1f 100%);
    background: linear-gradient(to bottom, #282a2c 0%,#1c1d1f 100%);
    color: #ffffff;
    border: 1px solid #000000;
}
.vk label{
    background: url("../images/setting_master/social/social_vk.png") no-repeat;
    background-size: contain;
}
.fb label{
    background: url("../images/setting_master/social/social_fb.png") no-repeat;
    background-size: contain;
}
.ok label{
    background: url("../images/setting_master/social/social_ok.png") no-repeat;
    background-size: contain;
}
.yt label{
    background: url("../images/setting_master/social/social_yt.png") no-repeat;
    background-size: contain;
}
.inst label{
    background: url("../images/setting_master/social/social_inst.png") no-repeat;
    background-size: contain;
}
.tw label{
    background: url("../images/setting_master/social/social_tw.png") no-repeat;
    background-size: contain;
}
.gp label{
    background: url("../images/setting_master/social/social_gp.png") no-repeat;
    background-size: contain;
}
.sk label{
    background: url("../images/social/skype.png") no-repeat;
    background-size: contain;
}

.tlgrm label{
    background: url("../images/setting_master/social/social_tlgrm.png") no-repeat;
    background-size: contain;
}
.secondcol .row{
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 0px;
}
.vk .squaredTwovk,
.fb .squaredTwofb,
.ok .squaredTwook,
.yt .squaredTwoyt,
.inst .squaredTwoinst,
.tw .squaredTwotw,
.gp .squaredTwogp,
.lin .squaredTwolin {
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
}
.vk .squaredTwovk input[type=checkbox],
.fb .squaredTwofb input[type=checkbox],
.ok .squaredTwook input[type=checkbox],
.yt .squaredTwoyt input[type=checkbox],
.inst .squaredTwoinst input[type=checkbox],
.tw .squaredTwotw input[type=checkbox],
.gp .squaredTwogp input[type=checkbox],
.lin .squaredTwolin input[type=checkbox]{
    display:none;
}
.vk .squaredTwovk label,
.fb .squaredTwofb label,
.ok .squaredTwook label,
.yt .squaredTwoyt label,
.inst .squaredTwoinst label,
.tw .squaredTwotw label,
.gp .squaredTwogp label,
.lin .squaredTwolin label {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 1px;
    border:1px solid #000000;
    background: -moz-linear-gradient(top, #26282a 0%, #1a1b1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26282a), color-stop(100%,#1a1b1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #26282a 0%,#1a1b1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #26282a 0%,#1a1b1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #26282a 0%,#1a1b1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #26282a 0%,#1a1b1c 100%); /* W3C */

}
.vk .squaredTwovk label:after,
.fb .squaredTwofb label:after,
.ok .squaredTwook label:after,
.yt .squaredTwoyt label:after,
.inst .squaredTwoinst label:after,
.tw .squaredTwotw label:after,
.gp .squaredTwogp label:after,
.lin .squaredTwolin  label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.vk .squaredTwovk input[type=checkbox]:checked + label:after,
.fb .squaredTwofb input[type=checkbox]:checked + label:after,
.ok .squaredTwook input[type=checkbox]:checked + label:after,
.yt .squaredTwoyt input[type=checkbox]:checked + label:after,
.inst .squaredTwoinst input[type=checkbox]:checked + label:after,
.tw .squaredTwotw input[type=checkbox]:checked + label:after,
.gp .squaredTwogp input[type=checkbox]:checked + label:after,
.lin .squaredTwolin input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.vk .squaredTwovk  input[type=checkbox]:checked label,
.fb .squaredTwofb input[type=checkbox]:checked label,
.ok .squaredTwook input[type=checkbox]:checked label,
.yt .squaredTwoyt input[type=checkbox]:checked label,
.inst .squaredTwoinst input[type=checkbox]:checked label,
.tw .squaredTwotw input[type=checkbox]:checked label,
.gp .squaredTwogp input[type=checkbox]:checked label,
.lin .squaredTwolin input[type=checkbox]:checked label{
    background: -moz-linear-gradient(top, #141516 0%, #252629 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141516), color-stop(100%,#252629)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #141516 0%,#252629 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #141516 0%,#252629 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #141516 0%,#252629 100%); /* IE10+ */
    background: linear-gradient(to bottom, #141516 0%,#252629 100%); /* W3C */
}
.uprof .mailicon{
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
}
.buttonsrow{
    text-align: center;
    margin-top: 20px;
    margin-left: -30px;
}
/*content profile end*/

/*footer*/
footer{
    background-image: url(../images/mask.png);
    background-color: #18191d;
    color: #757575;
    border-top: 2px solid #000000;
    z-index: 10;
    position: relative;
}
.footer-social{
    list-style: none;
    float: right;
    margin-right: 20px;
    margin-top: -35px;
}
.footer-social li{
    display:inline-table;
}
.footer-social li a{
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.footer-social li a:hover{
    box-shadow: 1px 0 10px #FFFFFF;
}
.footer-vk{
    background-image: url("../images/social/vklight.png");
}

.footer-telegram{
    background-image: url("../images/social/telegram.png");
}
.footer-fb{
    background-image: url("../images/social/fblight.png");
}
.footer-inst{
    background-image: url("../images/social/inlight.png");
}
.footer-twit{
    background-image: url("../images/social/twlight.png");
}
.footer-yt{
    background-image: url("../images/social/ytfooter.png");
}
/*footer end*/

/* toppopups */
.mesag,
.komps{
    background-color: #212224;
    padding: 20px;
    max-width: 800px;
}
.bill h2,
.komps h2{
    color:#ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}
.komps h2{
    margin:0;
}
.bill .billtable,
.mesag table{
    width:100%;
}
.bill .billtable thead tr,
.mesag table thead tr,
.komps .hline{
    height: 2px;
    border-top:1px solid #131314 ;
    border-bottom: 1px solid #313233;
}
.komps .hline{
    margin:25px 0;
}
.bill .billtable th,
.mesag table th,
.komps .hline input{
    padding: 0 20px;
    text-align: center;
    background-color: #212224;
    position: absolute;
    margin-top: -1.3em;
    left: 300px;
    color: #4c4d4e;
    text-transform: uppercase;
}
.komps .hline input{
    border:1px solid #000000;
    background: #d6d5d8; /* Old browsers */
    background: -moz-linear-gradient(top, #d6d5d8 0%, #595660 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d5d8), color-stop(100%,#595660)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d5d8 0%,#595660 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d5d8 0%,#595660 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d5d8 0%,#595660 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d6d5d8 0%,#595660 100%); /* W3C */
    border-radius: 20px;
    padding: 10px;
    color: #000000;
}
.bill .billtable tbody,
.mesag table tbody,
.komps table tbody{
    color: #b0b0b1;
}
.bill .billtable tbody td:nth-of-type(2n),
.mesag table tbody td:nth-of-type(2n),
.bill .billtable tbody td:nth-of-type(5n-2){
    text-align: right;
}
.bill .billtable tbody input{
    color:#ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.bill .billtable tbody .submitred{
    background: #ff7e7e; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7e7e 0%, #eb3c3c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7e7e), color-stop(100%,#eb3c3c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7e7e 0%,#eb3c3c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7e7e 0%,#eb3c3c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7e7e 0%,#eb3c3c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7e7e 0%,#eb3c3c 100%); /* W3C */
}
.bill .billtable tbody .submitgreen{
    background: #1bc874; /* Old browsers */
    background: -moz-linear-gradient(top, #1bc874 0%, #00a354 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc874), color-stop(100%,#00a354)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1bc874 0%,#00a354 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1bc874 0%,#00a354 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1bc874 0%,#00a354 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1bc874 0%,#00a354 100%); /* W3C */
}
.messages + ul {
    width:800px;
    margin-right:-155px !important;
}
.homebtn ul{
    width:805px;
    margin-right:-155px;
}
.navbar-right .caret,
.homebtn .caret{
    display:none;
}
.mesag table thead:after,
.mesag table thead:before{
    line-height:1.5em;
    content:"-";
    color:#212224;
    display:block;
}
.mesag table tbody tr{
    padding:10px;
}
.mesag table tbody tr:hover,
.komps table tbody tr{
    background: #292a2c; /* Old browsers */
    background: -moz-linear-gradient(top, #292a2c 0%, #1c1d1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292a2c), color-stop(100%,#1c1d1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #292a2c 0%,#1c1d1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #292a2c 0%,#1c1d1f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #292a2c 0%,#1c1d1f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #292a2c 0%,#1c1d1f 100%); /* W3C */
    border:1px solid #000000;
    border-radius:5px;
}
.komps .piarobl{
    padding:10px;
}
.komps .piarbls{
    display: inline-block;
    width: 29%;
    text-align: center;
    color: #b0b0b1;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 15px;
    background: #2e2f31; /* Old browsers */
    background: -moz-linear-gradient(top, #2e2f31 0%, #1a1b1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2f31), color-stop(100%,#1a1b1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2e2f31 0%,#1a1b1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2e2f31 0%,#1a1b1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2e2f31 0%,#1a1b1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2e2f31 0%,#1a1b1c 100%); /* W3C */
}
.komps .rights{
    width: 404px;
    margin: 0px auto;
}
.komps .rights:before{
    content:"ÐžÑ€Ð³Ð°Ð½Ð¸Ð·Ð°Ñ‚Ð¾Ñ€";
    color:darkgray;
    line-height: 3em;
    margin-right: 15px;
    font-size: 18px;
}
.komps .rights:after{
    content:"ÐŸÐ¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑŒ";
    color:#0dcd70;
    line-height: 3em;
    margin-left: 15px;
    font-size: 18px;
}
.komps .rights.activec:before{
    content:"ÐžÑ€Ð³Ð°Ð½Ð¸Ð·Ð°Ñ‚Ð¾Ñ€";
    color:#0dcd70;
}
.komps .rights.activec:after{
    content:"ÐŸÐ¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑŒ";
    color:darkgray;
}
.komps .rights label{
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #000000;
}
.komps .rights label:before{
    content:"";
    background-image: url("../images/admin.png");
    padding: 20px 35px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
}
.komps .rights label:after{
    content:"";
    background-color: #0dcd70;
    background-image: url("../images/user.png");
    padding: 20px 35px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
}
.komps .rights label.activecl:before{
    background-color: #0dcd70;
}
.komps .rights label.activecl:after{
    background-color: transparent;
}
.komps .rights input{
    display:none;
}
/* .green {
    color: #07C768;
} */
/* toppopups end */

#loginwrap{
    background: #262729;
    background: -moz-linear-gradient(top, #262729 0%, #393a3d 16%, #393a3d 16%, #393a3d 85%, #262729 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262729), color-stop(16%,#393a3d), color-stop(16%,#393a3d), color-stop(85%,#393a3d), color-stop(100%,#262729));
    background: -webkit-linear-gradient(top, #262729 0%,#393a3d 16%,#393a3d 16%,#393a3d 85%,#262729 100%);
    background: -o-linear-gradient(top, #262729 0%,#393a3d 16%,#393a3d 16%,#393a3d 85%,#262729 100%);
    background: -ms-linear-gradient(top, #262729 0%,#393a3d 16%,#393a3d 16%,#393a3d 85%,#262729 100%);
    background: linear-gradient(to bottom, #262729 0%,#393a3d 16%,#393a3d 16%,#393a3d 85%,#262729 100%);
    min-height:95%;
}
#blackout {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    display: none;
    z-index: 998;
}
.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 300px;
    height: 300px;
    z-index: 999;
}
.clos{
    cursor: pointer;
    float: right;
    padding: 4px 0;
    border-radius: 55px;
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    margin: -14px;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown-menu{
    outline: none;
}
.banners-moderations{
    position: relative;
    z-index: 1;
}
.secmen{
    z-index: 0;
    margin: -13px 10px 0px 10px;
    display: block;
    position: relative;
}
.secmen span{
    color:#b7b7b7;
    font-size: 16px;
}
.alltable{
    margin-top: 15px;
    border-collapse: separate !important;
}
.alltable td{
    color:#363636;
}
.alltable td:first-of-type{
    text-align: left;
    border-right: 1px solid #d1d1d1;
    line-height: 2.2;
    padding: 0 20px;
}
.alltable tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
}
.alltable tr:last-child td:nth-child(2) {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
}
.alltable tr:first-child td:nth-child(2) {
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
}
.alltable tr:first-child td:first-child {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
}
.homebtn .dropdown-menu{
    border-left-width: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #d7d7d7;
    background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #1B1C1F;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -1px;
    margin-left: -2px;
    padding: 0px;
}
.navbar-nav.navbar-right>li>.dropdown-menu{
    margin-right: -3px;
}
.topmenu .navbar-nav>li>a {
    color: #ffffff;
}
.dropdown-menu>li>a {
    color: #D7D7D7;
    padding: 8px 60px 8px 30px;
    font-size: 14px;
}
.dropdown-menu>li>a:hover{
    background: #4B4E53;
    color: #D7D7D7;
}
.navbar-inverse .navbar-nav>.open>a .glyphicon,  .navbar-inverse .navbar-nav>.open>a .fa{
    color: #00D3FF;
}
.navbar-inverse .navbar-nav>.open>a span{
    color: #00D3FF;
}
/*.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #63d2ff;
    background: #0b0b0c;
    background: -moz-linear-gradient(top, #0b0b0c 0%, #222427 41%, #2c2e32 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b0b0c), color-stop(41%,#222427), color-stop(100%,#2c2e32));
    background: -webkit-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -o-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -ms-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: linear-gradient(to bottom, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
}*/
.vertical-middle{
    vertical-align: middle;
}
.info_icon{
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 27px;
    margin-top: -4px;
    margin-bottom: -3px;
    display: block;
}
.box_icon{
    content: url(../images/box.png);
}
.table_icon{
    content: url(../images/table.png);
}
.list_icon{
    content: url(../images/list.png);
}
.phone_icon{
    content: url(../images/phone.png);
}
.usd_icon{
    content: url(../images/usd.png);
}
.dialog_icon{
    content: url(../images/dialog.png);
}
#dialog_info{
    padding: 20px 35px 20px 10px;
}
#info_link{
    cursor: pointer;
    padding: 9px 15px;
}
#info_link .fa-stack{
    font-size: 16px;
    color: #d7d7d7;
}
#info_link .fa-stack .border_info{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background: #d7d7d7;

    -webkit-animation: background_info 5s infinite alternate;
    -moz-animation: background_info 5s infinite alternate;
    -o-animation: background_info 5s infinite alternate;
    animation: background_info 5s infinite alternate;
}
#info_link .fa-stack .content_info{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #28292c;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    line-height: 28px;

    -webkit-animation: color_info 5s infinite alternate;
    -moz-animation: color_info 5s infinite alternate;
    -o-animation: color_info 5s infinite alternate;
    animation: color_info 5s infinite alternate;
}
#info_link .fa-stack-1x{
    font-size: 75%;
}
.navbar-inverse .navbar-nav>li>a#info_link:hover .content_info{
    background: #454649;
}

@-webkit-keyframes background_info {
    0% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    50% {
        background: teal;
        box-shadow: 0 -24px 16px -16px plum inset;
    }
    75% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    100% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes background_info {
    0% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    50% {
        background: teal;
        box-shadow: 0 -24px 16px -16px plum inset;
    }
    75% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    100% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes background_info {
    0% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    50% {
        background: teal;
        box-shadow: 0 -24px 16px -16px plum inset;
    }
    75% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    100% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes background_info {
    0% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        transform: rotate(0deg);
    }
    25% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    50% {
        background: teal;
        box-shadow: 0 -24px 16px -16px plum inset;
    }
    75% {
        background: skyblue;
        box-shadow: 0 -24px 16px -16px yellowgreen inset;
    }
    100% {
        background: gold;
        box-shadow: 0 -24px 16px -16px crimson inset;
        transform: rotate(360deg);
    }
}
@-webkit-keyframes color_info {
    0%{color: gold;}
    25%{color: skyblue;}
    50%{color: plum;}
    75%{color: skyblue;}
    100%{color: gold;}
}
@-moz-keyframes color_info {
    0%{color: gold;}
    25%{color: skyblue;}
    50%{color: plum;}
    75%{color: skyblue;}
    100%{color: gold;}
}
@-o-keyframes color_info {
    0%{color: gold;}
    25%{color: skyblue;}
    50%{color: plum;}
    75%{color: skyblue;}
    100%{color: gold;}
}
@keyframes color_info {
    0%{color: gold;}
    25%{color: skyblue;}
    50%{color: plum;}
    75%{color: skyblue;}
    100%{color: gold;}
}










#home_link{
    padding: 10px;
}

#top_menu_adminpanel li:last-child{
    position: relative;
}
#top_menu_adminpanel li:last-child:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right:-2px;
    border-right: solid 1px #515254;
    padding-bottom: 12px;
    min-height: 100%;
}
#top_menu_adminpanel li:first-child:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left:-2px;
    border-right: solid 1px #000;
    padding-bottom: 12px;
    min-height: 100%;
}

#top_menu_adminpanel .navbar-nav {
    /*height: 50px;*/
}

#top_menu_adminpanel .navbar-brand {
    padding: 0 15px;
    position: relative;
    width: 100%;
    min-width: 284px;
    margin: 0;
    text-align: center;
    max-width: 100%;
}

#top_menu_adminpanel .navbar-toggle {
    position: absolute;
    right: 0;
    float: none;
    z-index: 10;
}
#top_menu_adminpanel .navbar-toggle:active,
#top_menu_adminpanel .navbar-toggle:focus{

}
#top_menu_adminpanel .container-fluid>.navbar-header {
    width: auto;
}
#top_menu_adminpanel .navbar-nav > li,
#top_menu_adminpanel .navbar-nav > li > a{
    height: 100%;
    vertical-align: middle;
}
#top_menu_adminpanel #main_logo_item {
    padding: 10px 5px;
    min-width: 250px;
    max-width: 100%;
    text-align: center;
}
#top_menu_adminpanel > .container-fluid {
    /*padding-left: 0px;*/
}
/*#top_menu_adminpanel .navbar-nav>.active>a,
#top_menu_adminpanel .navbar-nav>.active>a:hover,
#top_menu_adminpanel .navbar-nav>.active>a:focus {
    color: #63d2ff;
    background: #0b0b0c;
    background: -moz-linear-gradient(top, #0b0b0c 0%, #222427 41%, #2c2e32 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b0b0c), color-stop(41%,#222427), color-stop(100%,#2c2e32));
    background: -webkit-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -o-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: -ms-linear-gradient(top, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
    background: linear-gradient(to bottom, #0b0b0c 0%,#222427 41%,#2c2e32 100%);
}*/
#top_menu_mobile li:before,
#top_menu_mobile li:after {
    display: none !important;
}
#top_menu_mobile.navbar-nav > li.divider-vertical {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #4b4d50;
}
















.dropdown-menu i{
    margin: 0px 15px 0px 0px;
}
.count_new_mes{
    background-color: #F73434;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 56%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
}
.navbar-inverse .navbar-nav>li>a.userp {
    /* min-width: 170px; */
    /*max-width: 300px;*/
    padding: 9px;
}
.userp img{
    border-radius: 50%;
    margin-right: 5px;
}
.userp  + .dropdown-menu {
    width: 1000px;
    margin-right: -140px;
}
.userp  + .dropdown-menu a{
    color: #fff;
}
.userp  + .dropdown-menu i{
    margin: 0;
}
.toggle-left-menu{
    position: absolute;
    top: -43px;
    left: 310px;
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    z-index: 9999;
    cursor: pointer;
}

/* content */
#overall-wrap{
    margin: 0px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto 0px;
    display: table;
    width: 100%;
}
.maincontent{
    clear: both;
    position: relative;
    display: table-row;
    width: 100%;
    min-height: 100%;
    padding: 0;
    bottom: 0px;
}
/*div#page-wrapper {
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
    display: table-cell;
    width: 100%;
    overflow-x: auto;
    max-width: 1000px;
}
div#page {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
}*/

div#page {
    /* padding-left: 25px;
    padding-right: 25px; */
    padding-top: 0;
    padding-bottom: 20px;
    vertical-align: top;
    width: 100%;
    /* overflow-x: auto; */
}
/*content end*/

/*close left menu*/
#leftmenu #usermenu{
    transition: width 0.3s, max-width 0.3s;
}
#leftmenu.closed:hover{
    z-index: 999999999999;
}
#leftmenu.closed:hover #usermenu{
    width: 100px;
    max-width: 100px;
}
#leftmenu .addplace{
    transition: left 0.3s, width 0.3s, max-width 0.3s;
    /* transition: left 0.3s; */
    overflow: hidden;
    width: 245px;
    max-width: 245px;
    position: relative;
    z-index: 0;
    overflow: visible;
    left: 0px;
    background-color: #2e2f33;
}
#leftmenu.closed .addplace{
    width: 0px;
    max-width: 0px;
    left: -250px;
}
#leftmenu #addplace > .navbar{
    min-width: 245px;
}
#leftmenu .bigmenu:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #2e2f33;
    transition: width .3s;
}
#leftmenu.closed:hover .bigmenu:before{
    width: 100px;
}
#leftmenu.closed:not(:hover) .bigmenu .navbar-nav a {
    height: 55px;
    transition: height .3s;
}
#leftmenu .bigmenu .navbar .container .navbar-nav li a i{
    transition: top .3s, left .3s;
}
#leftmenu.closed:not(:hover) .bigmenu .navbar .container .navbar-nav li a i{
    top: 13px;
    left: 13px;
}
#leftmenu span.leftmenu-title {
    height: auto;
    transition: height .3s;
    overflow: hidden;
    display: inline-block;
}
#sidebarmenu li.active {
    color: #338CF0;
}
#sidebarmenu li.active .fa {
    color: #fff;
}
@media (max-width: 768px ) {
    #sidebarmenu li.active .fa {
        color: #338CF0;
    }
    #overall-wrap{
        display: block;
    }
    .maincontent{
        display: block;
    }
    div#page-wrapper {
        display: block;
    }
    #leftmenu{
        display: none;
    }
}

.mt60{
    margin-top: 60px;
}
.mt90{
    margin-top: 90px;
}

.money .fa-rub {
    font-size: 17px;
    color: #07C768;
    font-weight: 400;
}
#sidebarmenu {
    width: 100%;
} 
@media screen and (max-width: 470px) {
    .notifications .name {
        font-size: 0;
    }

    .userp.dropdown-toggle {
        top: 0;
        right: 0px;
        /* width: 107px; */
    }
}

div#page {
    padding: 30px;
}
div#page.new {
    padding: 0;
}
